.advantages {
  padding-top: 100px;
  margin-bottom: 50px;
}

.advantages__inner {
  max-width: 1120px;
  display: flex;
  gap: 60px;
}

.advantages__list {
  list-style: none;
}

.advantages__item:not(:last-child) {
  margin-bottom: 50px;
}

.advantages__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.advantages__description {
  max-width: 450px;
}

@media (max-width: 1110px) {
  .advantages {
    padding-top: 30px;
  }
  .advantages__inner {
    gap: 0;
  }
  .advantages__image {
    display: none;
  }
  .advantages__description {
    max-width: 100%;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 22px;
  }
}

@media (max-width: 490px) {
  .advantages {
    padding: 0;
  }
  .advantages__title {
    font-size: 15px;
  }
  .advantages__description {
    font-size: 13px;
  }
  .advantages__item:not(:last-child) {
    margin-bottom: 12px;
  }
}
