.bike {
  margin-bottom: 50px;
}

.bike__inner {
  display: flex;
  justify-content: space-between;
}

.bike__column {
  &_slider {
    flex-basis: 630px;
    max-width: 630px;
  }
  &_description {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
}

.bike__subtitle {
  margin-bottom: 60px;
  font-size: 32px;
  line-height: 39px;
  color: $lightgray;
}

.bike__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 80px;
  max-width: 420px;
}

.bike__text {
  text-align: justify;
}

.bike__list {
  display: flex;
  justify-content: space-around;
  max-width: 500px;
  margin: 0 auto;
  list-style: none;
}

.bike__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 110px;
  min-height: 53px;
  & dt {
    order: 2;
    margin: auto 0;
    font-size: 12px;
  }
  & dd {
    margin-bottom: 5px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

// Слайдер
.bike-slider {
  margin-bottom: 25px;
}

.bike-slider .slick-dots {
  top: 52px;
  right: 0;
}

.slick-dots {
  position: absolute;
  top: 0;
  list-style: none;
  & li:not(:last-child) {
    margin-bottom: 10px;
  }
  & button {
    font-size: 0;
    width: 4px;
    height: 25px;
    border: none;
    border-radius: 7px;
    background-color: $black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $accent;
    }
  }
}

.slick-active button {
  background-color: $accent;
}
