.footer {
  background-color: $black;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer__conf,
.social__link,
.contacts__link {
  color: $white;
  text-decoration: none;
  text-transform: lowercase;
  transition: all 0.3s ease-in-out;
  font-size: 12px;
  &:hover {
    color: $accent;
  }
  &:focus-visible {
    color: $accent;
    outline: none;
    border: none;
  }
}

.footer__conf {
  text-decoration: underline;
  -webkit-tap-highlight-color: transparent;
}

.social {
  display: flex;
  gap: 28px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contacts__item:not(:last-child) {
  margin-bottom: 10px;
}

.contacts__link {
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-tap-highlight-color: transparent;
  & span {
    text-decoration: none;
    font-size: 12px;
    order: 2;
  }
}

@media (max-width: $tablet-width) {
  .footer__inner {
    flex-direction: column;
    gap: 24px;
    padding: 30px 10px;
  }
  .contacts {
    display: flex;
    gap: 50px;
  }
  .footer__conf {
    order: 1;
  }
}

@media (max-width: 490px) {
  .contacts {
    display: block;
  }
}
