.gallery {
  margin-bottom: 50px;
  // & .slick-dots {
  //   left: -50px;
  // }
}

.gallery__list {
  list-style: none;
  max-width: 1200px;
}

.gallery__item {
  max-height: 604px;
  padding-left: 50px;
}

.gallery__image {
  vertical-align: top;
  object-fit: cover;
}
