.menu {
}

.menu__list {
  list-style: none;
  margin: 0 60px 0 0;
  padding: 0;
  display: flex;
}

.menu__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.menu__link {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 41px 20px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: $white;
    background-color: $black;
  }
}
