.price {
  margin-bottom: 100px;
}

.price_inner {
  position: relative;
}

.form {
  max-width: 420px;
}

.form__title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.form__description {
  max-width: 300px;
  margin-bottom: 30px;
}

.input__name,
.input__tel {
  display: block;
  width: 100%;
  padding: 10px 0 10px 6px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid $black;
  &::placeholder {
    font-family: inherit;
    color: $gray;
    opacity: 0.5;
  }
  &:focus-visible {
    box-shadow: 0 0 2px 2px $accent;
    border-radius: 8px;
    outline: none;
    border: none;
  }
}

.form__color {
  margin-bottom: 10px;
  color: $gray;
}

.form__radio-container {
  display: flex;
}

.form__label {
  &:not(:last-child) {
    margin-right: 23px;
  }
  margin-bottom: 50px;
}

.card {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
}

.card__image {
  vertical-align: top;
}

.card__price {
  position: absolute;
  top: 28px;
  left: 0;
  width: 221px;
  height: 100px;
  transform: translateX(-50%);
  border: 1px solid $accent;
  border-radius: 50%;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 100px;
  text-align: center;
  &::before {
    position: absolute;
    content: "";
    top: 12px;
    left: 0;
    width: 221px;
    height: 100px;
    border: 1px solid $accent;
    border-radius: 50%;
  }
}

.card__btn {
  width: 80px;
  height: 12px;
  border-radius: 30px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.2s ease-in;
  border: none;
  &:hover {
    transform: scale(1.04);
  }
  &:focus-visible {
    box-shadow: 0 0 2px 4px $accent;
    border-radius: 8px;
    outline: none;
  }
  &_grey {
    background-color: $gray;
  }
  &_white {
    background-color: $white;
    border: 1px solid $gray;
  }
  &_red {
    background-color: $accent;
  }
}

.card__btn:checked + .card {
  display: block;
}

.form__input-radio:checked + .card {
  display: block;
}

@media (max-width: 1110px) {
  .price {
    margin-bottom: 40px;
  }
  .form {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 auto;
  }
  .form__title {
    margin-bottom: 18px;
  }
  .form__radio-container {
    margin-bottom: 260px;
  }
  .card {
    max-width: 420px;
    bottom: 100px;
    right: auto;
    left: 0;
  }
  .card__price {
    width: 140px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    top: -38px;
    right: 0;
    transform: translateX(211%) rotate(3deg);
    &::before {
      width: 140px;
      height: 60px;
      top: 5px;
    }
  }
}

@media (max-width: $tablet-width) {
  .form__color {
    text-align: center;
    margin-bottom: 20px;
  }
  .form__radio-container {
    margin-bottom: 290px;
    justify-content: center;
  }
  .form__label {
    margin-bottom: 0;
    &:not(:last-child) {
      margin-right: 14px;
    }
  }
  .card__price {
    transform: none;
    top: 42px;
    right: 0;
    left: auto;
    border: 2px solid #ff4040;
    border-radius: 8px;
    font-size: 18px;
    line-height: 36px;
    height: 36px;
    width: 100px;
    &::before {
      display: none;
    }
  }
}

@media (max-width: 380px) {
  .card__price {
    top: -40px;
    right: 94px;
  }
}

@media (max-width: 340px) {
  .form__radio-container {
    margin-bottom: 270px;
  }
}
