.specifications {
  padding-top: 100px;
  margin-bottom: 150px;
}

.specifications__inner {
  display: flex;
  gap: 60px;
}

.specifications__title {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.specifications__image {
  align-self: center;
}

.specifications__list {
  max-width: 570px;
  list-style: none;
}

.specifications__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.specifications__name {
  padding: 3px 0 2px 4px;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
  background-color: $black;
}

.specifications__discr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5px;
  & dt {
    grid-column: 1;
    padding-right: 10px;
  }
  & dd {
    grid-column: 2;
  }
}

@media (max-width: 1110px) {
  .specifications {
    padding-top: 40px;
    margin-bottom: 90px;
  }
  .specifications__inner {
    flex-wrap: wrap;
    gap: 0;
  }
  .specifications__title {
    margin: 0;
    font-size: 22px;
  }
  .specifications__list {
    max-width: 100%;
    order: 2;
  }
}

@media (max-width: $tablet-width) {
  .specifications__image {
    width: 100%;
  }
}

@media (max-width: 660px) {
  .specifications {
    margin-bottom: 60px;
  }
}

@media (max-width: 490px) {
  .specifications__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .specifications__discr dd,
  .specifications__discr dt {
    font-size: 12px;
  }
}
