// Global
@import "global/variables.scss";
@import "global/global.scss";
@import "global/fonts.scss";

// Blocks
@import "blocks/page.scss";
@import "blocks/header.scss";
@import "blocks/menu.scss";
@import "blocks/logo.scss";
@import "blocks/bike.scss";
@import "blocks/advantages.scss";
@import "blocks/specifications.scss";
@import "blocks/gallery.scss";
@import "blocks/price.scss";
@import "blocks/footer.scss";

//
@import "blocks/button.scss";
@import "blocks/slick.scss";
