// Font-family
$font: "Inter", sans-serif, "Arial";

// Colors
$black: #131313;
$white: #ffffff;
$gray: #6f6f6f;
$lightgray: #6f6f6f;
$accent: #ff4040;

// Viewports
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
